#connect {
  width: 100%;
  height: 100px;
  font-size: 40px;
}

#content.x {
  display: none;
}

#ledvalue-color {
  padding: 0 0;
}

#melody-index {
  width: 100px;
}

#command-answer {
  font-family: monospace;
  font-size: 15px;
  margin-top: 5px;
}

#melody-midi-track {
  width: 60px;
}

#__________________ {
  position: fixed;
  bottom: -30px;
  right: -20px;
}

#__________________:hover #______ {
  opacity: 0.1;
}

#______ {
  position: fixed;
  right: 50px;
  bottom: 40px;
  background-color: black;
  color: greenyellow;
  opacity: 0;
}

#connect-info {
  color: #f66;
}

#file-player-info {
  border: 1px solid black;
  padding: 1px 3px;
  margin-bottom: 5px;
}

#melody-slicer-ui table {
  margin-top: 10px;
  border-collapse: collapse;
}
#melody-slicer-ui th,
#melody-slicer-ui td {
  border: 1px solid var(--color);
  white-space: nowrap;
}

#melody-slicer-number {
  width: 2em;
  margin-right: 5px;
}

#melody-slicer-ui table button {
  background: none;
  border: none;
}

#melody-slicer-ui tr > th:last-child > button {
  width: 100%;
}

#melody-slicer-max-memory {
  width: 3em;
}
