#pjsk-charas > li > a:hover::after {
  margin-left: 30px;
  opacity: 1;
}

#pjsk-charas > li > a::after {
  margin-left: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, margin-left 0.2s ease-in-out;
}
