body:not(.dark) {
  background-color: #ccc;
}

body.dark {
  background-color: #333;
}

body:not(.dark),
body:not(.dark) * {
  color: #000;
}

body.dark,
body.dark * {
  color: #fff;
}

body {
  margin: 0px 20%;
  width: calc(60%);
}

.title {
  margin-top: 20px;
  font-size: 35px;
}

.title-smaller {
  margin-top: 10px;
  font-size: 25px;
}
.title-smallest {
  margin-top: 7.5px;
  font-size: 20px;
}

body.dark button:active,
body:not(.dark) button:active {
  border: 2px solid #77d;
}

body:not(.dark) button {
  background-color: #ccc;
  border: 2px solid #333;
}

body.dark button {
  background-color: #333;
  border: 2px solid #ccc;
}

button {
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: border 0.05s ease-in-out;
}
