body:not(.dark) {
  background-color: #ddd;
}

body.dark {
  background-color: #333;
}

body:not(.dark),
body:not(.dark) * {
  color: #000;
}

body.dark,
body.dark * {
  color: #fff;
}

body {
  margin: 0px 20%;
  margin-bottom: 50px;
  width: calc(60%);
}

.title {
  margin-top: 20px;
  font-size: 35px;
}

.title-smaller {
  margin-top: 10px;
  font-size: 25px;
}
.title-smallest {
  margin-top: 7.5px;
  font-size: 20px;
}

body.dark button:active,
body:not(.dark) button:active {
  border: 2px solid #77d;
}

body:not(.dark) button {
  background-color: #ddd;
  border: 2px solid #333;
}

body.dark button {
  background-color: #333;
  border: 2px solid #ddd;
}

button {
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: border 0.05s ease-in-out;
}

body.dark input:not(:placeholder-shown),
body:not(.dark) input:not(:placeholder-shown) {
  border: 2px solid #77d;
}

body:not(.dark) input {
  background-color: #ddd;
  border: 2px solid #333;
}

body.dark input {
  background-color: #333;
  border: 2px solid #ddd;
}

input {
  border-radius: 5px;
  padding: 3px 1px 3px 3px;
  font-size: 15px;
  transition: border 0.05s ease-in-out;
}
