#connect {
  width: 100%;
  height: 100px;
  font-size: 40px;
}

#content.x {
  display: none;
}

#ledvalue-color {
  padding: 0 0;
}

#melody-index {
  width: 100px;
}

#command-answer {
  font-family: monospace;
  font-size: 15px;
  margin-top: 5px;
}

#melody-midi-track {
  width: 60px;
}

#__________________ {
  position: fixed;
  bottom: -30px;
  right: -20px;
}

#__________________:hover #______ {
  opacity: 0.1;
}

#______ {
  position: fixed;
  right: 50px;
  bottom: 40px;
  background-color: black;
  color: greenyellow;
  opacity: 0;
}

#connect-info {
  color: #f66;
}
